/*FONT*/
@font-face {
  font-family: "EA-font-light";
  src: url(../style/font/FontsFree-Net-14167194-83ed-4a46-978a-30307caa88c0.ttf);
}
@font-face {
  font-family: "EA-font-bold";
  src: url(../style/font/Boldstrom\ D.otf);
}
/*BUTTON*/
html {
  font-family: EA-font-light;
  font-weight: 100;
  color: #fff;
  box-sizing: border-box;
  margin: 2px;
  background: #1c1f26;
}

body {
  margin-top: 60px;
}

@media only screen and (max-width: 640px) {
  html {
    padding-top: 80px;
    overflow-y: scroll;
  }
  html::-webkit-scrollbar {
    display: none;
  }
}
/*FONT SIZE*/
.ea-font-48 {
  font-size: 3rem;
}

.ea-font-36 {
  font-size: 2rem;
}

.ea-font-24 {
  font-size: 1.5rem;
}

.ea-font-19 {
  font-size: 1.188rem;
}

.ea-font-15 {
  font-size: 0.938rem;
}

.ea-font-base {
  font-size: 1rem;
}

/*HYPERLINK*/
a {
  text-decoration: none;
  color: #1c1f26;
}

.ea-section-subscribe a {
  color: #c4f750;
}

.local-footer a {
  color: grey;
  transition: color ease 0.3s;
}
.local-footer a:hover {
  color: #c4f750;
}

/*IMG & ICON*/
.ea-section-subscribe img {
  transition: ease 0.1s;
}
.ea-section-subscribe img:hover {
  transform: scale(1.1) perspective(1px);
}

.local-social-media img {
  transition: ease 0.1s;
}
.local-social-media img:hover {
  transform: scale(1.3) perspective(1px);
}

.local-icon {
  filter: invert(100);
}

.navbar-top_ea-logo,
.tip-logo {
  opacity: 50%;
  cursor: pointer;
}

.navbar-top_ea-logo {
  filter: invert(100%);
}

.navbar-top img:hover {
  opacity: 100%;
}

/*BUTTON*/
.btn-default {
  min-width: 160px;
  padding: 1.063rem 1.5rem;
  border: solid 2px;
  border-radius: 3px;
  transition: ease 0.1s;
  cursor: pointer;
  font-size: 1rem;
}
.btn-default:hover {
  transform: scale(1.1) perspective(1px);
}

.btn-green {
  border-color: #c4f750;
  background: #c4f750;
  color: #1c1f26;
}

.btn-transparent {
  border-color: #fff;
  background: transparent;
  color: #fff;
}

.btn-red {
  border-color: #1c1f26 !important;
  background: #FF4747;
  color: #fff;
}

.btn-white {
  border-color: #fff !important;
  background: #fff;
  color: #1c1f26;
}

.btn-black {
  border-color: #1c1f26;
  background: #1c1f26;
  color: #fff;
}

/*SECTION SUBSCRIBE*/
/*background*/
.bg-row-01 {
  background: url(../assets/section-subscribe/background-row01-xl.jpg.adapt.1920w.jpg);
  background-size: cover;
  background-position: right;
}

.bg-row-03 {
  background: url(../assets/section-subscribe/background-row03-16x9-xl.png.adapt.1920w.png);
  background-size: cover;
  background-position: center;
}

.bg-row {
  background: #1c1f26;
}

/*layout*/
.ea-section-subscribe {
  width: 100%;
  line-height: 1.5rem;
}

.sub-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 20%;
  gap: 1.25rem;
}

.sub-inline-flex {
  display: inline-flex;
  gap: 1.25rem;
}

/*media queries*/
@media only screen and (max-width: 1456px) {
  .sub-row {
    padding: 3% 8%;
  }
}
@media only screen and (max-width: 1024px) {
  .sub-row {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .sub-row {
    padding: 6% 8%;
    text-align: center;
  }
  .sub-row .sub-inline-flex {
    flex-direction: column;
  }
}
@media only screen and (max-width: 640px) {
  .btn-default {
    width: 100%;
  }
  .sub-inline-flex {
    width: 100%;
    align-items: center;
  }
  .ea-font-19 {
    font-size: 0.938rem;
  }
}
/*LOCAL FOOTER*/
.local-footer {
  background: rgb(37, 37, 37);
  padding: 2% 20%;
}

.foo-row01 {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.5rem;
}

.local-links {
  display: inline-flex;
  gap: 2.5rem;
}

.local-social-media {
  display: inline-flex;
  gap: 2.5rem;
  text-align: right;
}

.ea-spacer {
  width: 100%;
  border-bottom: grey solid 1px;
  margin: 2.5rem 0;
}

.foo-right {
  display: flex;
}

.footer-social-media {
  text-align: right;
}

.foo-right-pegi {
  display: inline-flex;
  flex-direction: column;
  margin-left: 0.738rem;
}
.foo-right-pegi p {
  font-size: 0.738rem;
}

/*media queries*/
@media only screen and (max-width: 1456px) {
  .local-footer {
    padding: 3% 8%;
  }
}
@media only screen and (max-width: 1024px) {
  .foo-row01 {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-social-media {
    text-align: left;
  }
}
@media only screen and (max-width: 640px) {
  .foo-row01 {
    line-height: 1.5rem;
  }
  .local-social-media {
    padding: 0.625rem;
  }
  .local-links {
    text-align: center;
  }
  .ea-spacer {
    margin: 1.5rem 0;
  }
  .foo-right {
    padding-top: 1rem;
  }
  .ea-spacer-mobile {
    width: 100%;
    border-bottom: grey solid 1px;
    margin: 1.5rem 0;
  }
  .local-footer {
    padding: 2.5rem 1.25rem;
  }
}
/*NAVBAR*/
.navbar-logo {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 48px;
  margin-right: 36px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 973.78px;
  padding: 0 10px;
}
.navbar-menu h4:hover {
  color: rgb(30, 65, 175);
}

.navbar-menu_item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 25.6px;
  text-transform: uppercase;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  background-color: #1c1f26;
  padding-right: 40px;
  gap: 50px;
  top: -5px;
  z-index: 100;
  width: 98%;
  position: fixed;
}

.navbar {
  background-color: #fff;
  color: #1c1f26;
  display: flex;
  align-items: center;
  top: 35px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar-buy-fifa {
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  right: 20px;
  height: 56px;
  line-height: 25.6px;
  width: 217.208px;
  font-size: 1rem;
}

.buy-fifa_style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 223.208px;
  background-color: #c4f750;
}

/*MENU ITEM*/
.navbar-menu_item .item-01 {
  width: 134.69px;
}
.navbar-menu_item .item-02 {
  width: 173.06;
}
.navbar-menu_item .item-03 {
  width: 115.13;
}
.navbar-menu_item .item-04 {
  width: 310.13px;
}
.navbar-menu_item .item-05 {
  width: 70.78px;
  margin-left: 20px;
  overflow: hidden;
}

/* TOGGLE MENU */
.toggle {
  display: none;
  height: max-content;
  width: max-content;
  background: white;
  position: absolute;
  left: -20px;
  top: 60px;
  padding: 20px;
  padding-top: 40px;
  transition: ease 0.4s;
}
.toggle p {
  text-transform: lowercase;
  line-height: 40px;
  transition: color ease 0.5s;
}
.toggle p::first-letter {
  text-transform: capitalize;
}
.toggle p:hover {
  color: rgb(30, 65, 175);
}

.column-01 h1 {
  padding-bottom: 20px;
}

.item-01,
.item-02,
.item-03,
.item-04 {
  position: relative;
}

.navbar-menu_item:hover .toggle {
  display: grid;
  gap: 30px;
}

.item-01:hover .toggle {
  grid-template-columns: 1fr 1fr 1fr;
}

.item-02:hover .toggle {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-03:hover .toggle {
  grid-template-columns: 1fr;
  padding-top: 20px;
}

.item-04:hover .toggle {
  grid-template-columns: 1fr;
  padding-top: 20px;
}

/* media queries */
@media only screen and (max-width: 1490px) {
  .navbar {
    font-size: 0.938rem;
  }
  .navbar-menu {
    width: 620px;
  }
  .buy-fifa_style {
    width: 160px;
    font-size: 13px;
  }
  .item-04 span {
    display: none;
  }
  .item-01,
.item-02,
.item-03,
.item-04,
.item-05 {
    width: min-content;
  }
}
@media only screen and (max-width: 1070px) {
  .navbar {
    font-size: 13px;
  }
  .navbar-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
    position: absolute;
    left: 10px;
  }
  .fifa-navbar-logo {
    width: 95px;
    height: 24px;
  }
}
/* MAIN SECTION */
.main-section {
  background-image: url(../assets/main-section/f22-fut-shapeshifters-hero-med-7x2-xl.png.adapt.crop7x2.1920w.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 543px;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 15%;
  padding-right: 50%;
}

.main-info {
  width: 580px;
  line-height: 28px;
}

@media only screen and (max-width: 1456px) {
  .main-section {
    height: 418px;
    padding: 3% 8%;
  }
  .main-info {
    width: 450px;
  }
}
@media only screen and (max-width: 1024px) {
  .main-section {
    height: 489px;
    background-size: auto;
  }
  .main-info {
    width: 350px;
  }
  .main-info .ea-font-19 {
    font-size: 0.938rem;
  }
}
@media only screen and (max-width: 768px) {
  .main-section {
    align-items: flex-end;
    padding: 3% 8%;
    height: 380px;
    background-position-y: top;
    background-size: contain;
  }
  .main-section .main-info {
    text-align: center;
    width: 100%;
  }
}
/* SECTION CARD */
.section-1 {
  background-image: url(../assets/section-card/eaplay-rewards-section-bg-xl.png.adapt.1920w.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1 .section-1_hero {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.section-1 .section-1_hero .section-1_logo {
  width: 250px;
  height: 111px;
}
.section-1 .section-1_hero .reward-abb {
  height: 41.39px;
  color: #fff;
  font-family: EA-font-bold;
}
.section-1 .section-1_hero .section-1_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 20px;
  padding: 3% 8%;
}
.section-1 .section-1_hero .section-1_cards .card {
  width: 382px;
  height: 405px;
  background-color: #1c1f26;
  text-transform: uppercase;
}
.section-1 .section-1_hero .section-1_cards .card .card-avatar {
  max-width: 100%;
  height: 198.28px;
}
.section-1 .section-1_hero .section-1_cards .card .card-description {
  max-width: 100%;
  max-height: calc(100% - 198.28px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 8%;
}
.section-1 .section-1_hero .section-1_cards .card .card-description_title {
  color: #c4f750;
}
.section-1 .section-1_hero .section-1_cards .card .card-description_bio {
  color: #fff;
  font-size: 28px;
  text-align: center;
  margin: 10px 0;
  line-height: 32.4px;
  font-family: EA-font-bold;
}
.section-1 .section-1_hero .section-1_cards .card .card-description_date {
  color: #fff;
  font-size: 1.188rem;
  padding-bottom: 20px;
}
.section-1 .section-1_hero .section-1_hero-bottom {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 30px;
}
.section-1 .section-1_hero .section-1_hero-button {
  width: 100%;
  display: flex;
  gap: 30px;
}
.section-1 .section-1_hero .section-1_hero-button .text-small_size {
  font-size: 18.83px;
  padding-top: 40px;
}

/* media queries */
@media only screen and (max-width: 1024px) {
  .section-1_cards {
    overflow: hidden;
    overflow-x: scroll;
  }
  .section-1_cards::-webkit-scrollbar {
    display: none;
  }
  .card {
    min-width: 352px;
  }
}
@media only screen and (max-width: 640px) {
  .section-1_hero-button {
    flex-direction: column;
    padding: 3% 8%;
  }
  .section-1_hero-bottom {
    width: 100%;
  }
}
/* SECTION VIDEO */
.video-wrapper {
  width: 100%;
  height: 643px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.video-wrapper video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-wrapper .header {
  position: relative;
  color: #fff;
  font-family: EA-font-bold;
  width: 850px;
  line-height: 74px;
}
.video-wrapper .header .video-button {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.video-wrapper .header .ea-font-19 {
  line-height: 24px;
}

/* media queries */
@media only screen and (max-width: 640px) {
  .video-button {
    flex-direction: column;
    padding: 3% 8%;
  }
  .header .ea-font-19 {
    padding: 3% 5%;
  }
}
/* SECTION FEATURE  */
.section-feature {
  background-image: url(../assets/section-feature/fut22-features-hp-xl.jpg.adapt.1920w.jpg);
  color: #1c1f26;
  padding: 5% 8%;
}
.section-feature .card-xl {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 439px;
  min-width: 366px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  padding-bottom: 1%;
  text-transform: uppercase;
  transition: ease 0.3s;
}
.section-feature .card-xl:hover {
  box-shadow: 4px 20px 8px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
}
.section-feature .bg-card-xl-01 {
  background-image: url(../assets/section-feature/card-xl-01.jpg);
}
.section-feature .bg-card-xl-02 {
  background-image: url(../assets/section-feature/card-xl-02.jpg);
}
.section-feature .bg-card-xl-03 {
  background-image: url(../assets/section-feature/card-xl-03.jpg);
}
.section-feature .d-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 3% 8%;
  flex-wrap: wrap;
}
.section-feature .d-flex-ea {
  display: flex;
  justify-content: space-between;
  padding: 10% 14% 0% 14%;
}
.section-feature .d-flex-ea .box-text {
  width: 480px;
}
.section-feature .d-flex-ea .box-text p {
  padding: 20px 0;
}
.section-feature .d-flex-ea .card-mb {
  width: 300px;
  height: 450px;
  background-image: url(../assets/section-feature/card-mb.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* meadia queries  */
@media only screen and (max-width: 1024px) {
  .box-text .ea-font-48 {
    font-size: 36px;
  }
  .box-text .ea-font-19 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .section-feature .d-flex-ea {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
  }
  .section-feature .d-flex-ea .box-text {
    width: 100%;
    text-align: center;
  }
  .section-feature .d-flex-ea .card-mb {
    order: -1;
    width: 200px;
    height: 350px;
  }
}
/* NETWORK-FOOTER */
.network-footer {
  display: flex;
  padding: 3% 20%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  color: #1c1f26;
}
.network-footer .network-footer-grid {
  display: grid;
  grid-template-columns: 65px, 595px, 421px;
  grid-template-rows: 2fr;
}

s.network-footer-grid .network-logo {
  grid-column: 1;
  grid-row: 1/3;
}

.network-footer-grid .network-info {
  grid-column: 2;
  grid-row: 1/3;
}

.network-footer-grid .network-select {
  grid-column: 3;
  grid-row: 1/3;
  position: relative;
}

.network-select .box-select {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  gap: 30px;
}

.box-select .box-price,
.box-leng {
  width: 170px;
  height: 60px;
  border: solid 1px;
}

.box-price {
  grid-column: 1;
  grid-row: 1;
  position: relative;
}

.box-leng {
  grid-column: 2;
  grid-row: 1;
  position: relative;
}

.network-select .truste {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.info {
  gap: 35px;
  text-transform: uppercase;
  padding: 20px 120px 20px 20px;
}

.politicy,
.info {
  float: left;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.politicy {
  gap: 15px;
  padding: 20px 20px 20px 20px;
}

.box-price,
.box-leng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.truste {
  position: absolute;
  bottom: 0;
  right: 0;
}

.select-box {
  min-width: 350px;
  border: solid 1px;
  position: absolute;
  bottom: 65px;
  left: -510px;
  background: white;
  padding: 20px;
  height: max-content;
  width: 680px;
  display: none;
  z-index: 100;
}
.select-box ul {
  float: left;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.select-box ul li {
  width: 110px;
  border-bottom: solid 1px rgba(128, 128, 128, 0.332);
  padding: 10px;
  transition: ease 0.3s;
}
.select-box ul li:hover {
  transform: translateX(10px);
}

.box-leng ul li {
  width: 140px;
}

/* media queries */
@media only screen and (max-width: 1456px) {
  .network-footer {
    padding: 3% 8%;
  }
  .info {
    gap: 20px;
    padding: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .network-footer .network-footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 230px 1fr;
  }
  .network-footer-grid .network-logo {
    grid-column: 1;
    grid-row: 1;
  }
  .network-footer-grid .network-info {
    grid-column: 1;
    grid-row: 3;
  }
  .network-footer-grid .network-select {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }
  .box-select {
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-columns: 1fr;
    gap: 0;
    padding-right: 8%;
    height: 100px;
  }
  .box-price {
    grid-row: 1;
    grid-column: 1;
    min-width: 100%;
  }
  .box-leng {
    grid-row: 2;
    grid-column: 1;
    min-width: 100%;
  }
  .truste {
    grid-row: 3;
  }
  .select-box {
    padding: 0px;
    height: 250px;
    width: min-content;
    top: 70px;
    left: 0;
    overflow-y: scroll;
  }
  .select-box ul {
    flex-direction: column;
    gap: 0;
  }
  .select-box ul li {
    width: max-content;
    border-bottom: none;
    padding: 5px 0px 5px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .select-box {
    padding: 0px;
    height: 300px;
    width: min-content;
    top: 70px;
    left: 0;
    overflow-y: scroll;
  }
  .select-box ul {
    flex-direction: column;
    gap: 0;
  }
  .select-box ul li {
    width: max-content;
    border-bottom: none;
    padding: 5px 0px 5px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
